.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: inherit;
    position: relative;

    .invalid-caption {
      display: none;
    }

    label {
      @include body-1;
      color: $neutral-dark;
    }
    input,
    select,
    textarea {
      appearance: none;
      padding: 16px;
      background: white;
      border: 1px solid $secondary-40;
      box-sizing: border-box;
      border-radius: 8px;
      color: $neutral-dark;
      width: 100%;

      &:focus,
      &:focus-visible,
      &:hover {
        appearance: none;
        color: $secondary-100;
        outline: none;
        border: 1px solid $secondary-100;
      }
    }
  }

  &.was-validate {
    .form-group {
      input,
      select,
      textarea {
        &:valid {
          border: 1px solid $primary-100;
          & ~ .invalid-caption {
            display: none;
          }
        }

        &:invalid {
          border: 1px solid $red;

          & ~ .invalid-caption {
            display: block;
            color: $red;
            @include smallText;
          }
        }
      }
    }
  }
}
